.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg {
    background-color: #fff;
    box-shadow: 1px 2px 1px 1px #FAFAFB;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.projectName {
    font-weight: 600;
    opacity: 0.8;
}

.nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 36px;
    font-size: 14px;
}

.tab {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav .tab:hover {
    transition: all ease-in 0.4s linear;
    color: blue;
    border-bottom: 2px solid blue;
    padding: 16px 0px;
}

.select {
    display: flex;
    align-items: center;
    gap: 15px;
}